<section class="error">
    <div class="error__wrapper">
        <div class="error__info">
            <h1 class="error__header">{{ error }}</h1>
            <p class="error__desc">{{ description }}</p>
            <a class="error__link" href="{{ link.url }}">{{ link.linkText }}</a>
        </div>
    </div>
</section>
