@background-color: #ffffff;
@shadow-color: rgba(34, 60, 80, 0.2);
@button-link-color: #3369F3;
@button-link-color-hover: #33587f;
@border-color: #bdbdbd;
@border-bottom-color: #03a9f4;
@link-color: #0A558C;
@input-color: #363b40;
@input-focus-color: #212529;
